
div {
    display: inline-block;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    /* or 48px */
    margin-top: 48px;
    margin-left: 80px;
    letter-spacing: -0.02em;
    color: #0a1832;
}

.logo-dot {
    color: #a3dc00;
}

 ul {
    list-style: none; 
      
}

 li {
    display: inline-block;
      
}
 
.home {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
     letter-spacing: 0.02em;
    color: #1B0A42;
    margin-top: 48px;
    margin-left: 273px;
     
}

.about {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
     letter-spacing: 0.02em;
    color: #1B0A42;
    margin-top: 48px;
    margin-left: 50px;
     
}

.blog {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
     letter-spacing: 0.02em;
    color: #1B0A42;
    margin-top: 48px;
    margin-left: 50px;
     
}

.contact {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
     letter-spacing: 0.02em;
    color: #1B0A42;
    margin-top: 48px;
    margin-left: 50px;
     
}

a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
    color: #1B0A42;
    margin-top: 48px;
    margin-left: 752px;

}

.sign-up-button {
    ffont-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 120px;
    height: 60px;
    margin-top: 48px; 
    margin-left: 40px;   
    background-color: #4F56F1;
    border-radius: 6px;
}

section {
    display: inline-block;
}

.main-title {
    font-family: 'Ramaraja', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    letter-spacing: 0.02em;
    color: #1B0A42;
    max-width: 495px;
    width: 100%;
    margin-top: 178px;
    margin-left: 200px;
}

.main-info {
    max-width: 538px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    letter-spacing: 0.02em;
    color: #9A9A9A;
    margin-top: 42px;
    margin-left: 200px;

}

.main-button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */    
    text-align: center;
    letter-spacing: 0.02em;    
    color: #FFFFFF;
    width: 152px;
    height: 64px;
    background-color: #4F56F1;
    border-radius: 6px;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 285px;
     
}

/*img {
    margin-left: 158px;
    margin-top: 114px;
    width: 653;
    height: 604px;

}*/

img {
    margin-top: 114px;
    margin-left: 158px;
}
